body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

header img{
    height: 100px;
    align-self: center;
}
main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    text-align: center;
}

#cuota-mensual {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}

/* Estilos para la sección de desglose de pagos */
#tabla-desglose-pagos {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#tabla-desglose-pagos h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #007BFF;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}




/* Estilos para el mensaje de promoción */
h2 {
    color: #007bff;
    font-size: 18px;
    margin-top: 20px;
}
